<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667900465781-0875ln02rtb12dn34r9ibegeb06t7uat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667900465781-0875ln02rtb12dn34r9ibegeb06t7uat</string>
	<key>API_KEY</key>
	<string>AIzaSyDKWBdBNuxxd7DaDty7KlxSs_S-jXsGMjc</string>
	<key>GCM_SENDER_ID</key>
	<string>667900465781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosstudy.koktail</string>
	<key>PROJECT_ID</key>
	<string>koktail-2427a</string>
	<key>STORAGE_BUCKET</key>
	<string>koktail-2427a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667900465781:ios:206eef3d68129db22a5e3c</string>
	<key>DATABASE_URL</key>
	<string>https://koktail-2427a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>